 *{
		margin:0px;
		padding:0px;
		box-sizing:border-box;
    	-o-box-sizing:border-box;
    	-ms-box-sizing:border-box;
    	-moz-box-sizing:border-box;
    	-webkit-box-sizing:border-box;
	}
		body{
			font:15px "微软雅黑";
		}
	#outer{
		padding:20px;
		min-width:800px;
		background:#eee;
		margin:20px;
		
		}
	#outer:after{
		content:"";
		width:0;
		height:0;
		display:block;
		clear:both;
	}
	#left,#right,#outer,img{
		
		border:1px solid #999;
	}
	#left,#right,#main{
		background:#FFF;
	}
	#left{
		width:200px;
		float:left;
	}
	#right{
		width:120px;
		float:right;
		padding-bottom:20px;
	}
	#main{
		margin-left: 220px;
		margin-right: 140px;
		border:1px solid #999;
		word-wrap: break-word;
	}
	#left img{
		float:left;
		margin:20px;

	}
	#left .team{
		margin-top:20px;
		font-weight:500;
		font-size:25px;
	}
	.clearflex{
		clear:left;
	}
	#right img{
		margin-top:20px;
		margin-left:20px;

	}
	#main div{
		margin:20px;

	}
